#entete{
    opacity: 0.9;
}

#acceuil{
    height: auto;
    background: url("https://source.unsplash.com/random/500x500"), #30200ed5;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    color: rgb(255, 255, 255)!important;
}

input.largerCheckbox{ 

}

#formSignUp{
    width: 20%;
}
